/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/** {
    -webkit-tap-highlight-color: rgba(0,0,0,0);  make transparent link selection, adjust last value opacity 0 to 1.0 
}*/

html, body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#FFFFFF;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

.box{
    border: 2px solid !important;
    margin-top: 70px;
}
/* allPads Styles */

.allPads {
    border: 2px solid;
}

#pocket{
    text-align: center;
    font-size: 25px;
}
.touched {
    opacity: 0.4;
}

@media only screen and (max-width: 320px){
    div .allPads {
        height: 70px;
    }
}

@media screen and (max-width: 425px) {
    div .allPads {
        height: 80px;
    }
}

@media (min-width:426px) and (max-width: 768px) {
    div .allPads {
        height: 150px;
    }
}

@media (min-width:769px) and (max-width: 1024px) {
    div .allPads {
        height: 250px;
    }
}

@media (min-width:1025px) and (max-width: 1440px) {
    div .allPads {
        height: 400px;
    }
}

@media (min-width:1441px) and (max-width: 2560px) {
    div .allPads {
        height: 600px;
    }
}

.short{
    background-color: #00c6f2;
}

.long{
    background-color: #da70ee;
}
.jingle{
    background-color: #d1ef05;
}

.ui-btn{
    height: 85px;
}

.img1{
    text-align: center;
    margin-top: 80px;
}